// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  background-color: lightgreen;
  height: 2rem;
  text-align: center;
  border-radius: 1%;
}
